* {
    font-family: sans-serif;
    font-size: medium;
}
html, body {
    margin: 0px;
    padding: 0px;
}
.scanex-tabs > .tabs > .tab {
    padding: 10px;
    text-align: center;    
    color: lightslategrey;
    cursor: pointer;
}
.scanex-tabs > .tabs > .tab.selected {
    background-color: lightslategrey;
    color: white;    
}
.scanex-components-form {
    width: 350px;
    margin: 10px;
}
.scanex-components-form > table > tbody > tr > td {
    padding-bottom: 5px;
}
.scanex-components-form > table > tbody > tr > td > input[type=text],
.scanex-components-form > table > tbody > tr > td > textarea {
    border: 1px solid lightslategrey;
}