* {
    font-family: sans-serif;
    font-size: medium;
}
html, body {
    margin: 0px;
    padding: 0px;
}
.app-header {
    height: 40px;
}
.scanex-component-tabs > .tabs > .tab {
    padding: 10px;
    text-align: center;    
    color: lightslategrey;
    cursor: pointer;
    width: 170px;
}
.scanex-component-tabs > .tabs > .tab.selected {
    background-color: lightslategrey;
    color: white;    
}
.scanex-component-tabs > .panels > .panel {
    padding: 10px;
    width: 300px;
}
.scanex-component-tabs > .panels > .panel.controls > table {
    width: 100%;
    border-collapse: collapse;
}
.scanex-component-tabs > .panels > .panel.controls > table > tbody > tr > td:last-child {
    width: 100%;
}
.scanex-component-tabs > .panels > .panel.controls > table > tbody > tr > td {
    white-space: nowrap;
}
.scanex-component-form {
    width: 300px;    
}
.scanex-component-form > table > tbody > tr > td {
    padding-bottom: 5px;
}
.scanex-component-form > table > tbody > tr > td > input[type=text],
.scanex-component-form > table > tbody > tr > td > textarea,
.scanex-component-spinner input {
    border: 1px solid lightslategrey;
}
.scanex-component-dialog {
    box-shadow: 0px 1px 7.84px 0.16px rgba(0, 0, 0, 0.16);    
}
.scanex-component-dialog > .header { 
    padding-top: 10px;
    padding-bottom: 10px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}
.scanex-component-dialog > .footer {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}
.scanex-component-dialog {
    width: 400px;
}
.scanex-component-dialog > .header {
    background-color: whitesmoke;    
}
.scanex-component-dialog > .header > label {
    font-size: large;
}
.scanex-component-dialog > .footer { 
    padding-top: 10px;
    padding-bottom: 10px;
}
.scanex-component-dialog > .header,
.scanex-component-dialog > .content,
.scanex-component-dialog > .footer {
    padding-left: 10px;
    padding-right: 10px;    
}
.scanex-component-spinner input {
    width: 30px;
}
.scanex-component-menu .scanex-menu-root  {
    box-shadow: 0px 1px 7.84px 0.16px rgba(0, 0, 0, 0.16);    
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}