.scanex-component-dialog {
    position: absolute;    
    z-index: 10000;    
}
.scanex-component-dialog > .header,
.scanex-component-dialog > .content,
.scanex-component-dialog > .footer {
    background-color: #FFFFFF;
}
.scanex-component-dialog > .header {    
    cursor: pointer;    
}
.scanex-component-dialog > .header > .header-buttons {
    float: right;
}
.scanex-component-dialog > .footer {
    text-align: center;
}
.scanex-component-dialog .hidden {
    display: none;
}
.scanex-dialog-overlay {
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0px;
    left: 0px;
    background-color: #000000;
    opacity: 0.5;
    z-index: 9999;    
}