.scanex-components-dialog {
    position: absolute;
    top: 60px;
    left: 330px;
    z-index: 1000;
    background-color: white;
    height: 400px;
}
.scanex-components-dialog > .header {    
    cursor: pointer;    
}
.scanex-components-dialog > .header > .close {
    float: right;
}
.scanex-components-dialog > .header,
.scanex-components-dialog > .content,
.scanex-components-dialog > .footer,
.scanex-components-dialog > .footer > button {
    background-color: #FFFFFF;
}
.scanex-components-dialog > .footer {
    text-align: center;
}