.scanex-component-dialog {
    position: absolute;
    top: 60px;
    left: 330px;
    z-index: 1000;
    background-color: #FFFFFF;
}
.scanex-component-dialog > .header {    
    cursor: pointer;    
}
.scanex-component-dialog > .header > .header-buttons {
    float: right;
}
.scanex-component-dialog > .footer {
    text-align: center;
}
.scanex-component-dialog .hidden {
    display: none;
}