.scanex-component-tabs .tabs > *,
.scanex-component-tabs .panels > * {
    float: left;
}
.scanex-component-tabs .panels {
    clear: both;
}
.scanex-component-tabs > .panels > .hidden {
    display: none;
}