.scanex-component-menu .scanex-menu-group .scanex-menu-group-header > * {
    vertical-align: middle;    
    display: inline-block;
    cursor: pointer;
}
.scanex-component-menu .scanex-menu-item > * {
    cursor: pointer;
}
.scanex-component-menu .scanex-menu-group .scanex-menu-group-title,
.scanex-component-menu .scanex-menu-item .scanex-menu-item-title {    
    margin: 5px 10px 5px 10px;
    display: inline-block;
}
.scanex-component-menu .scanex-menu-group .scanex-menu-group-expander {
    margin: 0px 5px 0px 5px;
}
.scanex-component-menu .scanex-menu-group .scanex-menu-group-children {
    margin-left: 15px;
}