.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.scanex-component-menu {
    position: relative;
}
.scanex-component-menu > .scanex-menu-root {
    position: absolute;
    white-space: nowrap;
    background-color: #ffffff;
}
.scanex-component-menu .hidden {
    display: none;
}
.scanex-component-menu > .scanex-menu-group > .scanex-menu-group-header > .icon {    
    display: inline-block;
    background-position: center;
    background-repeat: no-repeat;
    width: 15px;
    height: 15px;
}