.scanex-component-menu {
    position: relative;
}
.scanex-component-menu > .scanex-menu-root {
    position: relative;
    white-space: nowrap;
    background-color: #ffffff;
}
.scanex-component-menu .hidden {
    display: none;
}
.scanex-component-menu > .scanex-menu-group > .scanex-menu-group-header > .icon {    
    display: inline-block;
    background-position: center;
    background-repeat: no-repeat;
    width: 15px;
    height: 15px;
}