.scanex-component-form > table,
.scanex-component-form > table > tbody > tr > td:last-child,
.scanex-component-form > table > tbody > tr > td > input[type=text],
.scanex-component-form > table > tbody > tr > td > textarea {
    width: 100%;
}
.scanex-component-form > table > tbody > tr > td > input[type=text] {
    padding: 0px;
    margin: 0px;    
}
.scanex-component-form > table > tbody > tr > td > textarea {
    resize: none;
    padding: 0px;
    margin: 0px;    
}
.scanex-component-form > table > tbody > tr > td {
    vertical-align: top;
}
.scanex-component-form > table > tbody > tr > td:first-child > label {
    margin-right: 10px;
}