.scanex-component-slider > .slider-bar > .slider-tick.slider-tick-middle {
    float: left;
    position: absolute;
}
.scanex-component-slider > .slider-bar > .slider-tick.slider-tick-middle > label {
    position: absolute;
    top: -20px;
    background-color: #ffffff;
}